<%= form_with(model: garage, local: true) do |form| %>
  <% if garage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(garage.errors.count, "error") %> prohibited this garage from being saved:</h2>

      <ul>
      <% garage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :garage_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :garage_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
