<p id="notice"><%= notice %></p>

<h1>Garages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Notify</th>
      <th>Zone</th>
      <th>Weekday</th>
      <th>Weekend</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @garages.each do |garage| %>
      <tr>
        <td><%= click_to_edit garage, path: garage_path(garage), attribute: :name %></td>
        <td><%= click_to_edit garage, path: garage_path(garage), attribute: :address %></td>
        <td><%= click_to_edit garage, path: garage_path(garage), attribute: :email %></td>
        <td><%= click_to_edit garage, path: garage_path(garage), attribute: :notify %></td>
        <td><%= click_to_edit garage, path: garage_path(garage), attribute: :zone %></td>
        <td><%= click_to_edit garage, path: garage_path(garage), attribute: :weekday %></td>
        <td><%= click_to_edit garage, path: garage_path(garage), attribute: :weekend %></td>
        <td><%= link_to "Show Spots", garage_garage_spots_path(garage), class: "btn" %></td>
        <td><%= link_to 'Destroy', garage, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garage', new_garage_path %>
