<p id="notice"><%= notice %></p>

<h1>Garages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garages.each do |garage| %>
      <tr>
        <td><%= garage.name %></td>
        <td><%= garage.address %></td>
        <td><%= link_to "Show Spots", garage_garage_spots_path(garage), class: "button btn btn-info btn-xs" %></td>
        <td><%= link_to 'Show', garage %></td>
        <td><%= link_to 'Edit', edit_garage_path(garage) %></td>
        <td><%= link_to 'Destroy', garage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garage', new_garage_path %>
