<%= form_tag garage_garages_charged_path do %>

  <div class="col s12 center-align top-margin"><h3>Your Booking Due</h3></div>

  <div class="row top-margin valign-wrapper">
    <div class="col s12 m12">
        <div class="row"><span>Your booking ID: </span><span class="bold"><%= @hash_booking_id %></span></div>
        <div class="row"><span>Garage: <%= @booking.garage_spot.garage.name %></span></div>
        <div class="row"><span>Spot: </span><span class="bold"><%= @booking.garage_spot.spot.name %></span></div>
        <div class="row"><span>Date: <%= @booking.start_time.strftime("%m/%d/%y") %></span></div>
        <div class="row"><span>Time: </span><span class="bold"><%= @booking.start_time.strftime("%l:%M %p") %> - <%= @booking.end_time.strftime("%l:%M %p") %></span></div>
        <div class="row"><span>Amount: $<%= (@booking.charge.amount)/100 %></span></div>
        <div class="row"><span>Paid: <%= @booking.charge.paid %></span></div>
    </div>
  </div>

  <% unless (garage_owner?.present?) %>
    <%= submit_tag 'Pay Now', class: "btn" %>
  <% else %>
    <% if @booking.charge.paid == false %>
      <%= hidden_field_tag :user_booking_view, current_user.id %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key= "<%= Rails.application.secrets.stripe_publishable_key %>"
              data-description= "Parking Spot Payment"
              data-amount= "<%= @booking.charge.amount %>"
              data-locale="auto"
              data-email= <%= current_user.email %> >
      </script>
      
      <meta http-equiv="refresh" content="60; URL='<%= garage_path(garage_owner?)+"/search" %>'" />
    <% else %>
      <meta http-equiv="refresh" content="30; URL='<%= garage_path(garage_owner?)+"/search" %>'" />
    <% end %>
  <% end %>

<% end %>