<div class="col s12 center-align top-margin"><h3>Search and Pay</h3></div>

<%= form_tag garage_garages_retrieve_path do %>

  <div class="input-field col s12 m12">
    <%= label :booking_confirmation, "Booking Confirmation" %>
    <%= text_field_tag :booking_confirmation %>
  </div>

  <%= submit_tag 'submit', class: "btn" %>

<% end %>

<% if Rails.env.development? %>
  <br>
  <% bookings = Booking.joins(garage_spot: :garage).where("garage_spots.garage_id = ?", params[:garage_id]) %>
  <% hashids = Hashids.new("$p@rk!ng", 4) %>
  <% bookings.each do |g| %>
      <%= hashids.encode(g.id) %>
  <% end %>
<% end %>