<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garage.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @garage.address %>
</p>

<%= link_to 'Edit', edit_garage_path(@garage) %> |
<%= link_to 'Back', garages_path %>
