<% content_for :head do %>
    <%= javascript_include_tag 'in_garage', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'in_garage', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="valign-wrapper whole-page">
  <div id="i-question" class="row valign-wrapper whole-width">
    <div class="col s6 center-align"><h3>Do you have a reservation?</h3></div>
    <div class="col s3 center-align"><button id="i-book-btn" class="waves-effect waves-light btn-large">Yes</button></div>
    <div class="col s3 center-align"><button id="i-no-book-btn" class="waves-effect waves-light btn-large">No</button></div>
  </div>
  <div id="i-no-book" class="row valign-wrapper whole-width">
    <%= form_tag reservations_garage_reservation_url(@booking), :length => params[:length] do %>

        <div class="input-field">
          <%= label :length, "How long will you stay?" %>
          <br/><br/>
          <%= select_tag "length", options_for_select(@garage_times.map { |obj| [obj['time'], obj['value']] }) %>
        </div>

        <%= hidden_field_tag :garageid, @garage.id %>

        <% if garage_owner_super_admin? %>
            <%= submit_tag 'Confirm', class: "btn" %>
        <% end %>
    <% end %>
    <button id="i-no-book-back-btn" class="waves-effect waves-light btn top-margin">Back</button>
  </div>
  <div id="i-book" class="row valign-wrapper whole-width">
    <%= form_tag garage_garages_in_success_path(@garage.id) do %>

        <div class="input-field">
          <%= label :length, "Your booking code" %>
          <%= text_field_tag :booking_id %>
        </div>

        <%= submit_tag 'Confirm', class: "btn" %>
    <% end %>
    <button id="i-book-back-btn" class="waves-effect waves-light btn top-margin">Back</button>
  </div>
</div>

<!-- 
===== Use Testing CC value ======
4242424242424242	Visa
4000056655665556	Visa (debit)
5555555555554444	Mastercard
5200828282828210	Mastercard (debit)
5105105105105100	Mastercard (prepaid)
378282246310005	American Express
371449635398431	American Express
6011111111111117	Discover
6011000990139424	Discover
30569309025904	Diners Club
38520000023237	Diners Club
3530111333300000	JCB
-->
