<h2>List of notifications</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Booking ID</th>
        <th>Recipient ID</th>
        <th>Action</th>
        <th>Confidence</th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |a| %>
        <tr>
          <td><%= a.id %></td>
          <td><%= a.booking_id %></td>
          <td><%= a.recipient_id %></td>
          <td><%= a.action %></td>
          <td><%= a.confidence %></td>
        </tr>
      <% end %>
    </tbody>
  </table>