  <div class = "row"> 
    <div class="col-md-10">
        <% if current_user.admin? %>
          <h3>Booking Confirmation for <%= @garage_spot.garage.name %> <%= @garage_spot.spot.name %></h3>
        <% else %>
          <h3>Booking Confirmation for <%= @garage_spot.garage.name %> <%= @garage_spot.spot.name %></h3>
        <% end %>
    </div>
    <div class="col-md-2">
        <h3><%= link_to "Create New Booking", new_garage_garage_spot_booking_path(@garage, @garage_spot), class: "button btn btn-success" %><h3>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @booking.user.email %></td>
        <td><%= @booking.start_time.strftime('%e %b %Y %H:%M%p') %></td>
        <td><%= (@booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %></td>
        <td><%= @booking.length %> hour</td>
      </tr>
    </tbody>
  </table>

  <p><%= link_to 'Back', :back, class: "button btn btn-primary" %><p> 
  <%= render partial: 'calendar', bookings: @bookings, garage_spot: @garage_spot %>