<% content_for :head do %>
    <%= javascript_include_tag 'users', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row top-margin">
  <!-- Account -->
  <%= render "users/user_profile/account"%>
  <div id="profile-row">
    <div class="custom-container inactive-main top-right card-panel">
      <div>
        <div class="preview top-margin"><h5 class="center-align">Reservations</h5></div>
        <div class="content-main">
          <!-- History -->
          <%= render "users/user_profile/history"%>
        </div>
      </div>
    </div>

    <div class="custom-container inactive-main bottom-right card-panel">
      <div>
        <div class="preview top-margin"><h5 class="center-align">Vehicle Info</h5></div>
        <div class="content-main">
          <!-- Vehicle -->
          <%= render "users/user_profile/vehicle"%>
        </div>
      </div>
    </div>

    <div class="custom-container active-main card-panel">
      <div>
        <div class="preview top-margin"><h5 class="center-align">Upcoming Reservation</h5></div>
        <div class="content-main">
          <!-- Countdown timer -->
          <%= render "users/user_profile/clock"%>
        </div>
      </div>
    </div>
  </div>
</div>