<% content_for :head do %>
    <%= javascript_include_tag 'users', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row top-margin">
  <!-- Account -->
  <%= render "users/user_profile/account"%>

  <!-- Vehicle -->
  <%= render "users/user_profile/vehicle"%>

  <!-- History -->
  <%= render "users/user_profile/history"%>
</div>