<p id="notice"><%= notice %></p>

<p>
  <strong>Booking:</strong>
  <%= @event.booking %>
</p>

<p>
  <strong>Confidence:</strong>
  <%= @event.confidence %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
