<% if @garage.nil? %>
  <div class="row">
    <div class="col-md-10">
        <h3>Showing All Parking Spot for Garage</h3>
    </div>
    <div class="col-md-2">
        <h3><%= link_to "Create New Spots", new_garage_spot_path, class: "button btn btn-success" %><h3>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Spot Name</th>
        <th>Garage Name</th>
        <th>Serial</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody>
      <% @garage_spots.each do |garage_spot| %>
        <tr>
          <td><%= garage_spot.spot.name %></td>
          <td><%= garage_spot.garage.name %></td>
          <td><%= click_to_edit garage_spot, path: garage_spot_path(garage_spot), attribute: :serial %></td>
          <td>    <%= link_to "Show", garage_spot_path(garage_spot), class: "button btn btn-info btn-xs" %>
                  <%= link_to "Edit", edit_garage_spot_path( garage_spot), class: "button btn btn-warning btn-xs" %>
                  <%= link_to "Delete", garage_spots_path(garage_spot), data: { confirm: 'Are you sure?' }, method: :delete, class: "button btn btn-danger btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
<% else %>  
  <div class="row">
    <div class="col-md-10">
        <h3>Showing All Parking Spot for <%= @garage.name %></h3>
    </div>
    <div class="col-md-2">
        <h3><%= link_to "Create New Spots", new_garage_garage_spot_path(@garage), class: "button btn btn-success" %><h3>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Spot</th>
        <th>Garage</th>
        <th>Serial</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody>
      <% @garage_spots.each do |garage_spot| %>
        <tr>
          <td><%= garage_spot.spot.name %></td>
          <td><%= garage_spot.garage.name %></td>
          <td><%= click_to_edit garage_spot, path: garage_spot_path(garage_spot), attribute: :serial %></td>
          <td>    <%= link_to "Show Bookings", garage_garage_spot_bookings_path(@garage, garage_spot), class: "button btn btn-info btn-xs" %>
                  <%= link_to "Edit", edit_garage_garage_spot_path(@garage, garage_spot), class: "button btn btn-warning btn-xs" %>
                  <%= link_to "Delete", garage_garage_spot_path(@garage, garage_spot), data: { confirm: 'Are you sure?' }, method: :delete, class: "button btn btn-danger btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
