<% content_for :head do %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row valign-wrapper">
  <div id="img-home" class="full-width-bar img-container valign-wrapper">
    <%= image_tag "parking_background.png" %>
    <a id="reserve-home-btn" class="waves-effect waves-light btn-large">Reserve</a>
  </div>
  <% if user_signed_in? %>
    <%= render "reservations/home_reservation" %>
  <% end %>
</div>

<ul>
  <li>
    <div class="row valign-wrapper">
      <div class="col s12 m4">
        <div class="img-container">
          <%= image_tag "iot_background.png" %>
        </div>
      </div>

      <div class="col s12 m8">
        <p>Searching for parking is always a hassle for everyone. Drivers spend a good amount of time rounding the streets of busy cities just to look for parking. Our goal for this project was to eliminate the hassle of searching for parking and to enhance the existing parking garage system. This project aimed to help drivers find parking more efficiently, thus, make parking more convenient.</p>
      </div>
    </div>
  </li>
</ul>

<div id="fade-image" class="row">
  <div class="img-container">
    <%= image_tag "parking_background2_short.png" %>
  </div>
</div>

<ul id="staggered-1" class="staggered-list">
  <li>
    <div class="row valign-wrapper">
      <div class="col s12 m8">
        <p>The objective of this project was to create a system that seamlessly integrates hardware and software. We aimed to identify the most efficient automatic license plate recognition (ALPR) software available. The ALPR software was used for security purposes to ensure that users parked in their designated spot. Additionally, we also identified related algorithms that can automate the process for assigning parking spots to users. At the end of this project, we have a working smart parking and reservation system that can be easily implemented into a traditional parking garage.  </p>
      </div>

      <div class="col s12 m4">
        <div class="img-container">
          <%= image_tag "connected_2_background.png" %>
        </div>
      </div>
    </div>
  </li>
</ul>

<ul id="staggered-2" class="staggered-list">
  <li>
    <div class="row valign-wrapper">
      <div class="col s12 m4">
        <div class="img-container">
          <%= image_tag "connected_background.png" %>
        </div>
      </div>

      <div class="col s12 m8">
        <p>This project will develop a smart parking system that will increase the efficiency of existing parking garages. By providing a guaranteed spot as soon as the driver enters, the system eliminates the time wasted in searching for parking in conventional parking garages. Ultimately, the system will allow drivers to save time and gas, reduce pollution, and have a guaranteed spot.</p>
      </div>
    </div>
  </li>
</ul>

<ul id="staggered-3" class="staggered-list">
  <li>
    <div class="row valign-wrapper">
      <div class="col s12 m8">
        <p>The final result of our project is implementable in traditional parking garages. The purpose of our system is to enhance traditional parking garages without having to rebuild a new parking facility. Any parking garage facility can benefit from our system as we aimed to maximize the efficiency and usage of parking garages. As such, our system has a positive impact on academics, industry, and society.</p>
      </div>

      <div class="col s12 m4">
        <div class="img-container">
          <%= image_tag "connected_3_background.png" %>
        </div>
      </div>
    </div>
  </li>
</ul>