<div class="row center-align">
  <div><img src="http://i0.kym-cdn.com/entries/icons/original/000/005/543/Image7.png" alt=""></div>
  <a class="modal-trigger waves-effect waves-light btn" data-turbolinks="false" href="#modal_login"> Test Modal</a>
</div>

<%= form_tag home_next_url(@booking) do %>
  <%= text_field :garage, id: :garage %>
  <%= text_field :length, id: :length %>
  <%= submit_tag 'Save'  %>
<% end %>

Super admin: <%= super_admin? %>
Garage owner: <%= garage_owner? %>