<div id="account" class="profile-container">
  <div class="row valign-wrapper">

    <div class="col s12 m4 center-align">
      <img class="circle" src="<%= gravatar_image_url(@user.email, filetype: :png, rating: 'pg', size: 200, secure: false, :default => 'http://forums.foxitsoftware.com/core/images/default/default_avatar_large.png' ) %>">
    </div>

    <div class="col s12 m3 center-align">
      <div class="row body-text"><%= @user.name %></div>
      <div class="row body-text"><%= @user.email %></div>
      <div class="row body-text"><%= number_to_phone(@user.phone, area_code: true) %></div>
    </div>

    <div class="col s12 m5 center-align">
      <div><i id="edit-toggle" class="small material-icons"><a href="#">edit</a></i></div>
    </div>

  </div>

  <%=render "users/registrations/edit"%>

</div>