<% content_for :head do %>
    <%= javascript_include_tag 'users_reservation', 'data-turbolinks-track': 'reload' %>
<% end %>

<div>
  <table class="bordered">
    <thead>
    <tr>
      <th>Garage</th>
      <th>Spot</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Length</th>
      <th>Code</th>
    </tr>
    </thead>

    <tbody class="booking-table">
      <% @bookings.each do |a| %>
        <tr class="booking-row">
          <td><%= a.garage_spot.garage.name %></td>
          <td><%= a.garage_spot.spot.name %></td>
          <td><%= a.start_time.strftime("%m/%d/%y") %></td>
          <td><%= a.start_time.strftime("%l:%M %p") %></td>
          <td><%= a.end_time.strftime("%l:%M %p") %></td>
          <td><%= a.length %> hour(s)</td>
          <td><%= @hashids.encode(a.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>