<div id="vehicle-edit">
  <%= form_for(@user) do |f| %>
    <%= devise_error_messages! %>

      <div class="licenseplates">
        <%= f.fields_for :licenseplates do |g| %>
          <%= render 'users/licenseplate_fields', f: g %>
        <% end %>
      </div>

      <div class="row top-margin actions">
        <div class="col s4">
          <%= f.submit "Update", class: "btn" %>
        </div>
        <div class="col s8 right-align">
            <%= link_to_add_association '+ Add License Plates', f, :licenseplates,
            data: { association_insertion_node: '.licenseplates', association_insertion_method: :append } %>
        </div>
      </div>
  <% end %>
</div>