<div id="vehicle" class="profile-container">
  <div class="row valign-wrapper">

    <div class="col s12 m7 center-align">
      <% if !@user.licenseplates.present? %>
        <div class="row body-text"><td>No license plate assoiate to your account.</td></div>
      <% end %>
      <% @user.licenseplates.each do |licenseplate| %>
          <tr>
            <div class="row body-text"><td><%= licenseplate.license_plate %></td></div>
            <div class="row body-text"><td><%= licenseplate.make %></td></div>
            <div class="row body-text"><td><%= licenseplate.year %></td></div>
            <div class="row body-text"><td><%= licenseplate.color %></td></div>
          </tr>
      <% end %>
    </div>

    <div class="col s12 m5 center-align">
      <div><a href="#" data-activates="slide-out" class="button-collapse btn waves-effect waves-light">More</a></div>
      <br>
      <div><a id="vehicle-edit-toggle" href="#" class="btn waves-effect waves-light">Edit</a></div>
    </div>
    
  </div>
  
  <%=render "users/user_profile/vehicle_edit"%>

</div>