<div id="vehicle" class="profile-container">
  <div class="row valign-wrapper">

    <div class="col s12 m7 center-align">
      <% if !@user.licenseplates.present? %>
        <div class="row body-text"><span class="bold error-message">* License plate required for reservation!</span></div>
      <% end %>
      <% @user.licenseplates.each do |licenseplate| %>
          <tr>
            <div class="row body-text"><span><%= licenseplate.license_plate %></span></div>
            <div class="row body-text"><span><%= licenseplate.make %></span></div>
            <div class="row body-text"><span><%= licenseplate.year %></span></div>
            <div class="row body-text"><span><%= licenseplate.color %></span></div>
          </tr>
      <% end %>
    </div>

    <div class="col s12 m5 center-align">
      <div><i id="vehicle-edit-toggle" class="small material-icons"><a href="#">edit</a></i></div>
    </div>
    
  </div>
  
  <%=render "users/user_profile/vehicle_edit"%>

</div>