<%= form_with(model: charge, local: true) do |form| %>
  <% if charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

      <ul>
      <% charge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :booking_id %>
    <%= form.text_field :booking_id, id: :charge_booking_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :charge_amount %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token, id: :charge_token %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
