<p id="notice"><%= notice %></p>

<h1>Charges</h1>

<table>
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Amount</th>
      <th>Token</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charges.each do |charge| %>
      <tr>
        <td><%= charge.booking.id %></td>
        <td><%= charge.amount %></td>
        <td><%= charge.token %></td>
        <td><%= charge.paid %></td>
        <td><%= link_to 'Show', charge %></td>
        <td><%= link_to 'Edit', edit_charge_path(charge) %></td>
        <td><%= link_to 'Destroy', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charge', new_charge_path %>
