<nav>
  <div class="nav-wrapper">
    <%= link_to image_tag("sparking_logo_white.png", class:"brand-logo white-logo"), "/" %>
    <%= link_to image_tag("sparking_logo_blue.png", class:"brand-logo blue-logo"), "/" %>

    <a href="#" data-activates="mobile-sidenav" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Mobile view -->
    <ul id="mobile-sidenav" class="side-nav">

      <% if user_signed_in? %>
        <li><%= link_to('Profile', user_path(:id => current_user.id)) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li><a href="register">Sign Up</a></li>
        <li><a href="login">Log In</a></li>
      <% end %>

      <% if garage_owner? %>
        <li><%= link_to('Dashboard', garage_pages_dashboard_path(:garage_id => garage_owner?)) %></li>
      <% elsif garage_owner_super_admin? %>
        <li><a href="/garages">Parking Garages</a></li>
      <% end %>

    </ul>

    <!-- PC view -->
    <ul id="nav" class="right hide-on-med-and-down">

      <% if user_signed_in? %>
        <li><a href="/" class="header-icons">Home</a></li>
      <% end %>

      <% if garage_owner? %>
        <li><%= link_to('Dashboard', garage_pages_dashboard_path(:garage_id => garage_owner?), class: "header-icons") %></li>
      <% elsif garage_owner_super_admin? %>
        <li><a class="header-icons" href="/garages">Parking Garages</a></li>
      <% end %>

      <% if garage_owner? %>
        <script type="text/javascript">
          $(document).ready(function(){
            // Register for some channel
            var bleh = <%= garage_owner? %>
            registerSomeChannel(bleh);
          });
        </script>

        <li><a href="/garages/<%= garage_owner?%>/dashboard#notifications">
          <span id="logo-notification" class="new badge red"><%= Notification.where(recipient_id: garage_owner?).where(read_at: nil).count %></span>
          <i class="material-icons center-align">notifications</i>
        </a></li>
      <% end %>

      <% if user_signed_in? %>
        <li><a id="header-dropdown" class='dropdown-button header-icons margin-right'
               data-activates='user-dropdown'><%= current_user.name.titleize  %></a>
        </li>

        <ul id='user-dropdown' class='dropdown-content'>
          <li><%= link_to('Profile', user_path(:id => current_user.id)) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      <% else %>
        <li><a class="modal-trigger header-icons" data-turbolinks="false" href="#modal_signup">Sign up</a></li>
        <li><a class="modal-trigger header-icons margin-right" data-turbolinks="false" href="#modal_login">Log in</a></li>
      <% end %>

    </ul>

  </div>
</nav>


<!--Modal Structure-->
<div class="modal modal-fixed-footer" id="modal_login">
  <div class="modal-content">
    <h4>Log In</h4>
    <%= render "users/sessions/new" %>
  </div>
</div>

<div class="modal modal-fixed-footer" id="modal_signup">
  <div class="modal-content">
    <h4>Sign Up</h4>
    <%= render "users/registrations/new" %>
  </div>
</div>