<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="material-icons">directions_car</i>Smart Parking</a>

    <a href="#" data-activates="mobile-sidenav" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Mobile view -->
    <ul id="mobile-sidenav" class="side-nav">

      <% if user_signed_in? %>
        <li><%= link_to('Profile', user_path(:id => current_user.id)) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li><a href="register">Sign Up</a></li>
        <li><a href="login">Log In</a></li>
      <% end %>

      <% if garage_owner? %>
        <li><%= link_to('Dashboard', garage_pages_dashboard_path(:garage_id => garage_owner?)) %></li>
      <% elsif garage_owner_super_admin? %>
        <li><a href="/garages">Parking Garages</a></li>
      <% end %>

    </ul>

    <!-- PC view -->
    <ul id="nav" class="right hide-on-med-and-down">

      <% if garage_owner? %>
        <li><%= link_to('Dashboard', garage_pages_dashboard_path(:garage_id => garage_owner?)) %></li>
      <% elsif garage_owner_super_admin? %>
        <li><a href="/garages">Parking Garages</a></li>
      <% end %>

      <% if garage_owner? %>
        <li><a href="/garages/<%= garage_owner?%>/dashboard#notifications">
          <span id="logo-notification" class="new badge red"><%= Notification.where(recipient_id: garage_owner?).where(read_at: nil).count %></span>
          <i class="material-icons center-align">notifications</i>
        </a></li>
      <% end %>

      <% if user_signed_in? %>
        <a class='dropdown-button btn-flat header-btn' data-activates='user-dropdown'><%= current_user.name %></a>

        <ul id='user-dropdown' class='dropdown-content'>
          <li><%= link_to('Profile', user_path(:id => current_user.id)) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      <% else %>
        <li><a class="modal-trigger waves-effect waves-light btn-flat header-btn" data-turbolinks="false" href="#modal_signup">Sign Up</a></li>
        <li><a class="modal-trigger waves-effect waves-light btn-flat header-btn" data-turbolinks="false" href="#modal_login">Log In</a></li>
      <% end %>

    </ul>

  </div>
</nav>


<!--Modal Structure-->
<div class="modal modal-fixed-footer" id="modal_login">
  <div class="modal-content">
    <h4>Log In</h4>
    <%= render "users/sessions/new" %>
  </div>
</div>

<div class="modal modal-fixed-footer" id="modal_signup">
  <div class="modal-content">
    <h4>Sign Up</h4>
    <%= render "users/registrations/new" %>
  </div>
</div>