<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="material-icons">directions_car</i>Smart Parking</a>

    <a href="#" data-activates="mobile-sidenav" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul id="mobile-sidenav" class="side-nav">

      <% if user_signed_in? %>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li><a href="register">Sign Up</a></li>
        <li><a href="login">Log In</a></li>
      <% end %>

      <li><a href="/garages">Parking Garages</a></li>
      <li><a href="#">Price</a></li>

    </ul>

    <ul id="nav" class="right hide-on-med-and-down">
      <li><a href="/garages">Parking Garages</a></li>
      <li><a href="#">Price</a></li>

      <% if user_signed_in? %>
        <a class='dropdown-button btn-flat header-btn' data-activates='dropdown1'><%= current_user.email %></a>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="/users/<%= current_user.id %>">Profile</a></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      <% else %>
        <li><a class="modal-trigger waves-effect waves-light btn-flat header-btn" data-turbolinks="false" href="#modal_signup">Sign Up</a></li>
        <li><a class="modal-trigger waves-effect waves-light btn-flat header-btn" data-turbolinks="false" href="#modal_login">Log In</a></li>
      <% end %>

    </ul>

  </div>
</nav>


<!--Modal Structure-->
<div class="modal modal-fixed-footer" id="modal_login">
  <div class="modal-content">
    <h4>Log In</h4>
    <%= render "users/sessions/new" %>
  </div>
</div>

<div class="modal modal-fixed-footer" id="modal_signup">
  <div class="modal-content">
    <h4>Sign Up</h4>
    <%= render "users/registrations/new" %>
  </div>
</div>