<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="material-icons">directions_car</i>Smart Parking</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Parking Garages</a></li>
      <li><a href="#">Price</a></li>
      <!-- TODO: Check if user is logged in -->
      <!-- If not logged in show sign up & login -->
      <!-- If logged in show: Username -->
      <% if user_signed_in? %>
          <a class='dropdown-button btn-flat header-btn' data-activates='dropdown1'><%= current_user.email %></a>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/users/<%= current_user.id %>">Profile</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          </ul>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path, class: "waves-effect waves-light btn-flat header-btn"%></li>
        <li><%= link_to 'Login', new_user_session_path, class: "waves-effect waves-light btn-flat header-btn"%></li>
        <!--<li><a class="modal-trigger waves-effect waves-light btn-flat header-btn" data-turbolinks="false" href="#modal1">Log In</a></li>-->
      <% end %>
    </ul>
  </div>
</nav>


<!--Modal Structure-->
<div class="modal modal-fixed-footer" id="modal1">
  <div class="modal-content">
    <h4>Log In</h4>
    <%= render "users/sessions/new" %>
  </div>
</div>