<nav>
  <div class="nav-wrapper">
    <%= link_to image_tag("sparking_logo_white.png", class:"brand-logo white-logo"), "/" %>
    <%= link_to image_tag("sparking_logo_blue.png", class:"brand-logo blue-logo"), "/" %>

    <a href="#" data-activates="mobile-sidenav" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Mobile view -->
    <ul id="mobile-sidenav" class="side-nav">

      <% if user_signed_in? %>
        <li><%= link_to('Profile', user_path(:id => current_user.id)) %></li>
      <% else %>
        <li><a href="login">Log In</a></li>
        <li><a href="register">Sign Up</a></li>
      <% end %>

      <% if garage_owner? %>
        <script type="text/javascript">$(document).ready(function(){var bleh = <%= garage_owner? %>;registerSomeChannel(bleh);});</script>

        <li><%= link_to('Dashboard', garage_pages_dashboard_path(:garage_id => garage_owner?)) %></li>
        <li><a href="/garages/<%= garage_owner?%>/dashboard#notifications">
          Notifications
          <span id="logo-notification" class="new badge red"><%= Notification.where(recipient_id: garage_owner?).where(read_at: nil).count %></span>
        </a></li>
        <li><%= link_to('Pay', garage_garages_search_path(:garage_id => garage_owner?)) %></li>
        <li><%= link_to('Check-in', garages_path(:id => garage_owner?)) %></li>
        <li><%= link_to('Check-out', garage_garages_out_path(:garage_id => garage_owner?)) %></li>
      <% elsif garage_owner_super_admin? %>
        <li><a href="/garages">Parking Garages</a></li>
      <% end %>

      <% if user_signed_in? %>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      <% end %>

    </ul>

    <!-- PC view -->
    <ul id="nav" class="right hide-on-med-and-down">

      <% if user_signed_in? %>
        <li><a href="/" class="header-icons">Home</a></li>
      <% end %>

      <!-- Both admin and garage owner -->
      <% if garage_owner? || garage_owner_super_admin? %>
        <li><a id="tools-header" class='dropdown-button header-icons header-dropdown' data-activates='tools-dropdown'>Tools</a></li>
      <% end %>

      <!-- Only garage owner -->
      <% if garage_owner? %>
        <script type="text/javascript">$(document).ready(function(){var bleh = <%= garage_owner? %>;registerSomeChannel(bleh);});</script>

        <li><a class="header-icons tooltipped" data-position="bottom" data-delay="50"
               data-tooltip="Go to notifications page" href="/garages/<%= garage_owner?%>/dashboard#notifications">
          <span id="logo-notification" class="new badge red"><%= Notification.where(recipient_id: garage_owner?).where(read_at: nil).count %></span>
          <i class="material-icons center-align">notifications</i>
        </a></li>

        <ul id='tools-dropdown' class='dropdown-content'>
          <li><%= link_to('Dashboard', garage_pages_dashboard_path(:garage_id => garage_owner?), class: "header-icons") %></li>
          <li class="divider"></li>
          <li><%= link_to('Pay', garage_garages_search_path(:garage_id => garage_owner?)) %></li>
          <li class="divider"></li>
          <li><%= link_to('Check-in', garages_path(:id => garage_owner?)) %></li>
          <li class="divider"></li>
          <li><%= link_to('Check-out', garage_garages_out_path(:garage_id => garage_owner?)) %></li>
        </ul>

      <!-- Only admin -->
      <% elsif garage_owner_super_admin? %>
        <ul id='tools-dropdown' class='dropdown-content'>
          <li><a class="header-icons" href="/garages">Parking Garages</a></li>
        </ul>
      <% end %>

      <% if user_signed_in? %>
        <li><a class='dropdown-button header-icons margin-right header-dropdown'
               data-activates='user-dropdown'><%= current_user.name.titleize  %></a>
        </li>

        <ul id='user-dropdown' class='dropdown-content'>
          <li><%= link_to('Profile', user_path(:id => current_user.id)) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>

      <!-- Everyone -->
      <% else %>
        <li><%= link_to'Sign up', new_user_registration_path, class: "header-icons" %></li>
        <li><a class="modal-trigger header-icons margin-right" data-turbolinks="false" href="#modal_login">Log in</a></li>
      <% end %>

    </ul>

  </div>
</nav>


<!--Modal Structure-->
<div class="modal modal-fixed-footer" id="modal_login">
  <div class="modal-content">
    <h4>Log In</h4>
    <%= render "users/sessions/new" %>
  </div>
</div>