<!DOCTYPE html>
<html>
  <head>
    <title>Sparking</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <!-- Header partial for every page -->
  <%= render 'layouts/header' unless @skip_header %>

  <body>
    <div class="container">

      <% flash.each do |message_type, message| %>
          <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
