<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-field">
      <%= f.label :name%>
      <%= f.text_field :name, autofocus: true, required: true%>
    </div>

    <div class="input-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, required: true %>
    </div>

    <div class="input-field">
      <%= f.label :phone %>
      <%= f.number_field :phone, autofocus: true, required: true %>
    </div>

    <div class="input-field">
      <%= f.label :license_plate %>
      <%= f.text_field :license_plate, autofocus: true, required: true %>
    </div>

    <div class="input-field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="input-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn" %>
    </div>
<% end %>
