<div id="vehicle-edit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if @licenseplates.present? %>
    <% @licenseplates.each do |a| %>
      <div class="input-field">
        <%= f.label :license_plate %>
        <%= f.text_field :license_plate, autofocus: true, value: a.license_plate, required: true %>
      </div>

      <div class="input-field">
        <%= f.label :make %>
        <%= f.text_field :make, autofocus: true, value: a.make, required: false %>
      </div>

      <div class="input-field">
        <%= f.label :year %>
        <%= f.number_field :year, autofocus: true, value: a.year, required: false %>
      </div>

      <div class="input-field">
        <%= f.label :color %>
        <%= f.text_field :color, autofocus: true, value: a.color, required: false %>
      </div>
    <% end %>
  <% end %>

    <div class="actions">
         <%= f.submit "Update", class: "btn" %>
    </div>
</div>


<% end %>